<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.fosu.book.dao.DepartMapper">
  <resultMap id="BaseResultMap" type="edu.fosu.book.entity.Depart">
    <id column="DepartID" jdbcType="CHAR" property="departid" />
    <result column="DepartName" jdbcType="VARCHAR" property="departname" />
    <result column="ParentDepartID" jdbcType="CHAR" property="parentdepartid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from depart
    where DepartID = #{departid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="edu.fosu.book.entity.Depart">
    insert into depart (DepartID, DepartName, ParentDepartID
      )
    values (#{departid,jdbcType=CHAR}, #{departname,jdbcType=VARCHAR}, #{parentdepartid,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="edu.fosu.book.entity.Depart">
    update depart
    set DepartName = #{departname,jdbcType=VARCHAR},
      ParentDepartID = #{parentdepartid,jdbcType=CHAR}
    where DepartID = #{departid,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select DepartID, DepartName, ParentDepartID
    from depart
    where DepartID = #{departid,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DepartID, DepartName, ParentDepartID
    from depart
  </select>
</mapper>